# Prerequisites
*.d

# Object files
*.o
*.ko
*.obj


# Linker output
*.ilk
*.map
*.exp

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# Kernel Module Compile Results
*.mod*
*.cmd
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf


*.rtti
*.reloc
*.svtype
*.rlx
*.type
*.mem
*.wdf
*.wpc
*.xml
*.lpr
*.tcl
*.wdb
*.bat
*.log
*.jou
*.pb
*.txt
*.info
*.html
*.dbg
*.xdbg
*.ini
*.vdb
*.xpr
*.prj
*.wdm
*.rst
*.dcp
*.vds
*.rpt
*.js
*.sh
UART_demo.cache/
UART_demo.hw/
UART_demo.ip_user_files/
UART_demo.runs/
UART_demo.sim/
.metadata/
Hello_World_bsp/
RemoteSystemsTempFiles/
UART_demo_wrapper_hw_platform_0/
webtalk/
hw_handoff/
ip/
ipshared/
sim/
synth/
ui/
Blinky_LED/Blinky_LED.sim/sim_1/behav/xsim/xsim.dir/blinky_LED_behav/obj/xsim_1.c
Counter/Counter.sim/sim_1/behav/xsim/xsim.dir/Counter_behav/obj/xsim_1.c
Counter/Counter.sim/sim_1/behav/xsim/xsim.dir/test_counter_behav/obj/xsim_1.c
Shift_Register/Shift_Register.sim/sim_1/behav/xsim/xsim.dir/test_shift_reg_behav/obj/xsim_1.c
UART_demo/UART_demo.sdk/Hello_World/.cproject
UART_demo/UART_demo.sdk/Hello_World/.project
*.elf
UART_demo/UART_demo.sdk/Hello_World/Debug/makefile
*.mk
*.ld
UART_demo/UART_demo.sdk/Hello_World/src/platform.c
*.h
*.hdf
*.bd
*.bxml
*.xdc
*.str
UART_IO.cache/
UART_IO.hw/
UART_IO.ip_user_files/
UART_IO.runs/
UART_IO.sim/
UART_IO_wrapper_hw_platform_0/
UART_IO_bsp/
UART_IO/UART_IO.sdk/UART_IO/.cproject
UART_IO/UART_IO.sdk/UART_IO/.project
UART_IO/UART_IO.sdk/UART_IO/Debug/makefile
UART_IO/UART_IO.sdk/UART_IO/src/platform.c

Analog_Temp_Sensor.cache/
Analog_Temp_Sensor.hw/
Analog_Temp_Sensor.ip_user_files/
Analog_Temp_Sensor.runs/
Analog_Temp_Sensor.sim/
temp_sensor_wrapper_hw_platform_0/
Temp_Sensor_bsp/

*.cproject
*.project
Analog_Temp_Sensor/Analog_Temp_Sensor.sdk/Temp_Sensor/src/xiomodule_selftest_example.c
Analog_Temp_Sensor/Analog_Temp_Sensor.sdk/Temp_Sensor/Debug/makefile
